@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);


body{
    font-size: 14px;
    font-weight: 400, 700;
    background-color: hsl(232, 19%, 15%);
    font-family: sans-serif;
}

.followers{
    font-family: "Source Code Pro";
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
    
}

.total{
    color: hsl(228, 34%, 66%);
}

span{
    float: right;
}

div{
    background-color: hsl(228, 28%, 20%);
    border-radius: 2%;
    width: 200px;
    height: 150px;
    display: inline-block;
    text-align: center;
    color: hsl(228, 34%, 66%);
    padding: 20px;
    margin-left: 50px;
}

.div2{
    width: 200px;
    height: 60px;
    display: inline-table;
    margin-bottom: 5px;
}

h1, h2{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}

.day-green{
    font-size: 15px;
}

.day-red{
    font-size: 15px;
}

.attribution{
    font-size: 13px;
    color: white;
    padding-top: 15px;
}

/* White Mode */
.white-mode{
    background-color: white;
}

.white-mode div{
    background-color: hsl(230, 22%, 74%);
    color: black;
}

.white-mode p{
    color: black;
}

.white-mode h1{
    color: black;
}

.white-mode footer{
    color: black;
}

.white-mode h2{
    color: black;
}

/* Toggle Button */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: inline-block;
	border-radius: 100px;
    position: relative;
    float: right;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.80s;
}

input:checked + label {
	background: #72df50;
}

input:checked + label:after {
	left: calc(160% - 50px);
	transform: translateX(-80%);
}

label:active:after {
	width: 130px;
}